# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
build
.project
.settings
.classpath
.idea
logs
bin
*.pyc
*.log
*.log.wf