<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="project" value="sourthernAirlines" />

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <appender name="TRACE"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/home/sync360/product-xml/bin/${project}/log/trace.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/sync360/product-xml/bin/${project}/log/trace.log.%d{yyyy-MM-dd}</fileNamePattern>
            </rollingPolicy>
            <append>false</append>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
                </pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>


        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="trace" level="INFO" additivity="false">
            <appender-ref ref="TRACE"/>
            <appender-ref ref="CONSOLE"/>
        </logger>

</configuration>