<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">



<!--	<tx:advice id="txAdvice" transaction-manager="txManager">-->
<!--		&lt;!&ndash; the transactional semantics... &ndash;&gt;-->
<!--		<tx:attributes>-->
<!--			&lt;!&ndash; all methods starting with 'get' are read-only &ndash;&gt;-->
<!--			<tx:method name="get*" read-only="true" propagation="REQUIRES_NEW" isolation="READ_COMMITTED" timeout="30" no-rollback-for="java.lang.ArithmeticException"/>-->
<!--			&lt;!&ndash; other methods use the default transaction settings (see below) &ndash;&gt;-->
<!--			<tx:method name="*"/>-->
<!--		</tx:attributes>-->
<!--	</tx:advice>-->

<!--	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--		<property name="dataSource" ref="dataSource"/>-->
<!--	</bean>-->

	<context:component-scan base-package="priv.starfish"/>

	<bean id="sheep" class="priv.starfish.prototype.Sheep" scope="prototype">
		<property name="name" value="肖恩"/>
		<property name="age" value="2"/>
		<property name="color" value="白色"/>
	</bean>
</beans>